/* Header - templates/base.html */

header {
    height: 109px;
}

#navbar,
.logo img {
    margin-top: 16px;
}

.logo img {
    transform: scale(2.0);
    margin-left: 40px;
}

.fa-shopping-cart {
    font-size: 16px !important;
}

.cart_total {
    margin-left: 10px;
    font-size: 17px;
}


/* Footer - templates/base.html */

.logo-small {
    zoom: 50%;
    margin-bottom: 30px;
}

.privacy-policy-link {
    margin-bottom: 20px;
}


/* Button Styling */

.btn-blue,
.btn-black {
    background: #006fbe;
    color: white;
    border: 0;
    transition: 0.4s;
    border-radius: 4px !important;
    padding: 10px 30px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.decrement-qty,
.increment-qty {
    background: #1d284b;
    color: white;
}

.btn-outline-black {
    padding: 9px 29px !important;
    border-radius: 4px !important;
}


/* About - home/templates/home/index.html */

.about {
    width: 100%;
    text-align: center;
}


/* Privacy Policy - home/templates/home/privacypolicy.html */

.privacy-policy-container {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Products - products/templates/products/products.html */

.decrement-qty,
.increment-qty {
    background: #006fbe;
    color: white;
    border: 0;
    transition: 0.4s;
    border-radius: 4px !important;
    padding: 6px 12px !important;
}

.sort-select-wrapper {
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.contact-products {
    text-align: center;
}

#search-button {
    padding: 10px 15px !important;
}

.products-row {
    margin-bottom: 20px !important;
}

.add-product-container,
.edit-product-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-file {
    padding: 10px 10px !important;
}

#new-image {
    width: 220px;
}


/* Product Detail - products/templates/products/product_detail.html */

.product-container {
    margin-bottom: 50px;
}

.qty_input {
    max-width: 100px !important;
}


/* Allauth */

.socialaccount_providers {
    padding-left: 0px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

#id_login,
#id_password,
#id_email,
#id_email2,
#id_username,
#id_oldpassword,
#id_password1,
#id_password2,
#div_id_remember {
    margin-bottom: 10px;
}

#signup_form {
    margin-bottom: 50px;
}

#signout_form {
    margin-bottom: 200px;
}

.login-or {
    margin-bottom: 16px;
}

.social-signup input {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
}

.social-signup p {
    margin: 0px 0px;
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 100000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Breadcrumbs */

.breadcrumbs {
    margin-top: 109px !important;
    width: 100% !important;
}


/* Profile - profiles/templates/profiles/profiles.html and edit_profile.html */

#update-information {
    margin: 30px 0px;
}

#profile-container {
    margin-bottom: 30px;
}

#profile-row {
    margin-top: 20px;
}

#profile-row h5 {
    font-weight: 400;
}

#default-delivery-information,
.password_change,
#link-to-gsheets {
    margin-top: 10px;
}

#link-to-gsheets {
    vertical-align: bottom;
}


/* Cart */

.update-link,
.remove-item {
    cursor: pointer;
}

.cart-container {
    margin-top: 10px;
}


/* Checkout */

#custom_order_notes textarea {
    height: 100px;
}

.checkout-container,
.checkout-success-container {
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    #breadcrumbs h2,
    #breadcrumbs form,
    #breadcrumbs ol {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991px) {
    #cart_header {
        width: 125px;
    }

    .hidden-button {
        display: inline-block;
    }

    .shown-button {
        display: none;
    }

    #order-history {
        margin-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    .hidden-button {
        display: none;
    }
}

@media screen and (max-width: 361px) {
    #profile-change-password {
        margin-top: 10px;
    }
}