/* Header - templates/base.html */

.logo img {
    zoom: 200%;
}

.fa-shopping-cart {
    font-size: 16px !important;
}


/* Footer - templates/base.html */

.logo-small {
    zoom: 50%;
    margin-bottom: 30px;
}


/* About - home/templates/home/index.html */

.about {
    width: 100%;
    text-align: center;
}


/* Products - products/templates/products/products.html */

.btn-black {
    background: #444444;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.sort-select-wrapper {
    width: 100%;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.contact-products {
    text-align: center;
}

/* Allauth */

.allauth-form-inner-content {
    margin-top: 150px;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

#id_login,
#id_password,
#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2,
#div_id_remember {
    margin-bottom: 10px;
}

#signup_form {
    margin-bottom: 50px;
}

#signout_form {
    margin-bottom: 200px;
}


/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 100000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Media Queries */

@media (min-height: 775px) {
    .forgot-password {
        margin-bottom: 100px;
    }

    #signout_form {
        margin-bottom: 300px;
    }
}

@media (min-height: 865px) {
    .forgot-password {
        margin-bottom: 200px;
    }

    #signup_form {
        margin-bottom: 150px;
    }

    #signout_form {
        margin-bottom: 400px;
    }
}

@media (min-height: 965px) {
    .forgot-password {
        margin-bottom: 250px;
    }

    #signup_form {
        margin-bottom: 200px;
    }

    #signout_form {
        margin-bottom: 400px;
    }
}

@media (min-height: 1045px) {
    .forgot-password {
        margin-bottom: 350px;
    }

    #signup_form {
        margin-bottom: 300px;
    }

    #signout_form {
        margin-bottom: 500px;
    }
}

@media (min-height: 1145px) {
    .forgot-password {
        margin-bottom: 450px;
    }

    #signup_form {
        margin-bottom: 400px;
    }

    #signout_form {
        margin-bottom: 600px;
    }
}

@media (min-height: 1245px) {
    .forgot-password {
        margin-bottom: 500px;
    }

    #signup_form {
        margin-bottom: 450px;
    }

    #signout_form {
        margin-bottom: 650px;
    }
}