/* Header - templates/base.html */

.logo img {
    zoom: 200%;
}

.fa-shopping-cart {
    font-size: 16px !important;
}

/* Footer - templates/base.html */

.logo-small {
    zoom: 50%;
    margin-bottom: 30px;
}

/* About - home/templates/home/index.html */

.about {
    width: 100%;
    text-align: center;
}