{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_title %}Password Reset{% endblock %}

{% block inner_content %}
<div id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Password Reset</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Password Reset</li>
          </ol>
        </div>
      </div>
    </section>
    <!-- End Breadcrumbs -->
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="allauth-form-inner-content">
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
    
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
          
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}
