{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VyeRose | {% block extra_title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'mefamily/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'mefamily/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'mefamily/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'mefamily/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'mefamily/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'mefamily/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'mefamily/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'mefamily/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'mefamily/assets/css/style.css' %}" rel="stylesheet">

  <!-- My CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MeFamily - v4.5.0
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="{% url 'home' %}">VyeRose</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'home' %}" class="logo"><img src="{{ MEDIA_URL }}vyerosemain.png" alt="VyeRose" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          {% if page == "home" %}
          <li><a class="active" href="{% url 'home' %}">Home</a></li>
          {% else %}
          <li><a href="{% url 'home' %}">Home</a></li>
          {% endif %}
          <li><a href="{% url 'home' %}#about">About</a></li>
          {% if page == "contact" %}
          <li><a class="active" href="{% url 'contact' %}">Contact</a></li>
          {% else %}
          <li><a href="{% url 'contact' %}">Contact</a></li>
          {% endif %}
          {% if page == "products" %}
          <li><a class="active" href="{% url 'products' %}">Products</a></li>
          {% else %}
          <li><a href="{% url 'products' %}">Products</a></li>
          {% endif %}
          {% if page == "profile" %}
          <li class="dropdown"><a href="#" class="active"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
          {% else %}
          <li class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
          {% endif %}
            <ul>
              {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <li><a href="#" class="dropdown-item">Product Management</a></li>
                {% endif %}
                <li><a href="{% url 'me' %}" class="dropdown-item">My Account</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
              {% else %}
                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
              {% endif %}
            </ul>          
          </li>
          <li><a href="contact.html"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block content %}
  {% endblock %}

  {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
  {% endif %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <img src="{{ MEDIA_URL }}vyerosesmall.png" alt="" class="img-fluid logo-small">
      <p>Find us on Instagram</p>
      <div class="social-links">
        <a href="https://instagram.com/vye_rose/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>VyeRose</span></strong> 2021. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'mefamily/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'mefamily/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'mefamily/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'mefamily/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mefamily/assets/js/main.js' %}"></script>

  <!-- Toast JS -->
  <script src="{% static 'js/toast.js' %}"></script>

  <!-- Sort Selector JS -->
  <script src="{% static 'js/sort_selector.js' %}"></script>

  <!-- Quantity Input Script -->
  <script src="{% static 'js/quantity_input_script.js' %}"></script>

</body>

</html>